.wrapper {
  max-width: 70rem;
  margin: 2rem auto;
  padding: 0 1rem;

  display: grid;
  grid-template-columns: 256px 1fr;
  gap: 2rem;
  /* espaço entre sidebar e onde ficam os post*/
  align-items: flex-start;
  /* ficar alinhado com o topo*/
}

@media (max-width: 768px) {
  /*quando a tela for menos que 768px*/
  html {
    font-size: 87.5%;
    /* 16 - 100% 
   14 - x
   = 87.5% */
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
}
